.App {
  padding: 0px 10px;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header span {
  color:rgb(255, 251, 39);
}

.App-link {
  color: #61dafb;
}

h3 {
  font-family:source-code-pro,
  monospace;
  font-size: 20px;
}
